doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.11.1.min.js', charset='UTF-8')
  body
    block content

    script(src='/javascripts/testAsync.js', charset='UTF-8')
