body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

div.red {
    background-color: #FF0000;
}

div.green {
    background-color: #00FF00;
}
